#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.game {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

/*.game-board{*/
/*    width: 50%;*/
/*}*/

.game-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.li-move {
    text-align: start;
}